<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="../assets/ali-sm.jpg" class="img-thumbnail pic" />
    </div>
    <div class="col-3">
      <h3 class="text-center name display-4 font-weight-lighter">Ali Tayeh</h3>
      <h6 class="text-center font-weight-lighter">
        <span><i class="fa fa-phone"></i></span> (804)-325-0176
      </h6>
      <h6 class="text-center font-weight-lighter">
        <span><i class="fa fa-envelope"></i></span> alistayeh@gmail.com
      </h6>
    </div>
    <div class="col-3">
      <h3></h3>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-2">
      <h1 class="text-center font-weight-lighter">
        <i class="fa fa-code"></i> Skills
      </h1>
      <br />
    </div>
    <div class="col-5">
      <h1 class="text-center font-weight-lighter">
        <i class="fa fa-graduation-cap"></i> Education
      </h1>
      <br />

      <h5 class="text-center font-weight-light">
        <span><i class="fa fa-neuter cir"></i></span>
        <p><span class="dwn-line-vcu"></span></p>
        Computer Science, B.S.
      </h5>
      <p class="text-center font-weight-light">
        Virginia Commonwealth University
      </p>
      <br />
      <h5 class="text-center font-weight-light">
        <span><i class="fa fa-neuter cir"></i></span>
        <p><span class="dwn-line-hs"></span></p>
        High School Diploma
      </h5>
      <p class="text-center font-weight-light">
        Henrico High
      </p>
    </div>
    <div class="col"></div>
  </div>

  <router-outlet></router-outlet>
</div>
