<div class="container print">
  <div class="row">
    <div class="col-3">
      <img src="../assets/ali-sm.jpg" class="img-thumbnail pic" />
    </div>
    <div class="col-3">
      <h3 class="text-center name display-4 font-weight-lighter">Ali Tayeh</h3>
      <h6 class="text-center font-weight-lighter">
        <span><i class="fa fa-phone"></i></span> (804)-325-0176
      </h6>
      <h6 class="text-center font-weight-lighter">
        <span><i class="fa fa-envelope"></i></span> alistayeh@gmail.com
      </h6>
      <h6 class="text-center font-weight-lighter">
        <span><i class="fa fa-linkedin-square"></i></span>
        linkedin.com/in/ali-tayeh-45a304153/
      </h6>
    </div>
    <div class="col">
      <div class="social">
        <h6 class=" font-weight-lighter">
          <span
            ><h2 class="font-weight-lighter">
              <i class="fa fa-github"></i>
              <a href="github.com/a-tayeh"> github.com/a-tayeh</a>
            </h2></span
          >
          <span
            ><h2 class="font-weight-lighter">
              <i class="fa fa-connectdevelop"></i
              ><a href="devpost.com/a-tayeh"> devpost.com/a-tayeh</a>
            </h2></span
          >
        </h6>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="row ">
    <div class="col-2">
      <h1 class="text-center"><i class="fa fa-lightbulb-o"></i></h1>
      <h1 class="text-center font-weight-lighter">
        Skills
        <br />
      </h1>
      <h5 class="text-center font-weight-light skills">
        Java
      </h5>
      <h5 class="text-center font-weight-light skills">
        Javascript
      </h5>
      <h5 class="text-center font-weight-light skills">
        Python
      </h5>
      <h5 class="text-center font-weight-light skills">
        Angular
      </h5>
      <h5 class="text-center font-weight-light skills">
        Git
      </h5>
      <h5 class="text-center font-weight-light skills">
        Bash
      </h5>
      <h5 class="text-center font-weight-light skills">
        Linux
      </h5>
    </div>
    <div class="col-5">
      <h1 class="text-center font-weight-lighter">
        <i class="fa fa-graduation-cap"></i> Education
      </h1>

      <h5 class="text-center font-weight-light">
        <div class="emp-cir">
          <span><i class="fa fa-circle-thin cir"></i></span>
          <p><span class="dwn-line-vcu"></span></p>
        </div>
        Virginia Commonwealth University
      </h5>
      <p class="text-center font-weight-light">
        Computer Science | B.S.
        <br />
        Mathematics Minor
      </p>
      <h5 class="text-center font-weight-light">
        <div class="emp-cir">
          <span><i class="fa fa-circle-thin cir"></i></span>
          <p><span class="dwn-line-hs"></span></p>
        </div>
        Henrico High
      </h5>
      <p class="text-center font-weight-light">
        High School Diploma
      </p>
    </div>
    <div class="col"></div>
  </div>
  <br />
  <div class="row emp">
    <div class="col-3">
      <h1 class="text-center projects "><i class="fa fa-code"></i></h1>
      <h1 class="text-center font-weight-lighter projects ">Projects</h1>
      <h5 class="text-center font-weight-light projects ">
        ZeroPWNd
      </h5>
      <h5 class="text-center font-weight-light projects">
        CoffeeRun
      </h5>
      <h5 class="text-center font-weight-light projects">
        MadMauss
      </h5>
      <br />
      <br />
      <div>
        <h1 class="text-center extracurricular">
          <i class="fa fa-comments-o"></i>
        </h1>
        <h1 class=" font-weight-lighter ">
          Community
        </h1>
        <h5 class="text-center font-weight-light extracurricular ">
          Student Advisory Board
        </h5>
        <h5 class="text-center font-weight-light extracurricular">
          RamHacks Organizer
        </h5>
        <h5 class="text-center font-weight-light extracurricular">
          RamDev Officer
        </h5>
        <h5 class="text-center font-weight-light extracurricular">
          Linux User Group
        </h5>
      </div>
    </div>
    <div class="col-5">
      <h1 class="text-center font-weight-lighter">
        <i class="fa fa-suitcase"></i> Employment
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>

    <div class="col-10">
      <div class="emp-cir">
        <span><i class="fa fa-circle-thin cir"></i></span>
        <p><span class="dwn-line-emp1"></span></p>
      </div>
      <h5 class=" font-weight-light emp-title">
        AMC Technology | Software Engineering Intern
      </h5>
      <p class="emp-title">05/2019-Present</p>
      <p class="emp-desc">
        Working in agile teams to build solutions and present to stakeholders,
        through development sprints based on user stories. The themes include
        web applications, communication channels, application integration, and
        CRM development.
      </p>
      <div class="emp-cir">
        <span><i class="fa fa-circle-thin cir"></i></span>
        <p><span class="dwn-line-emp2"></span></p>
      </div>
      <h5 class=" font-weight-light emp-title">
        Virginia Commonwealth University | Webmaster for RamDev
      </h5>
      <p class="emp-title">08/2018 - Present</p>
      <p class="emp-desc">
        Ensure that proper assets are up to date. Apply frequent updates to the
        yml file. Update meeting times and events to provide more accurate
        representation of current ramdev activities.
      </p>
      <div class="emp-cir">
        <span><i class="fa fa-circle-thin cir"></i></span>
        <p><span class="dwn-line-emp3"></span></p>
      </div>
      <h5 class=" font-weight-light emp-title">
        Virginia Commonwealth University | Research Assistant
      </h5>
      <p class="emp-title">01/2019 - 05/2019</p>
      <p class="emp-desc">
        Use virtual machine introspection(VMI) to read memeory contents from a
        target virtual machine and libVMI API to write to memeory. Set up
        environments on lab computers using xen hypervisor on ubuntu integrated
        with libvmi to prepare other students interested in cyber security to
        experiment basic level of hacking.
      </p>
      <div class="emp-cir">
        <span><i class="fa fa-circle-thin cir"></i></span>
        <p><span class="dwn-line-emp4"></span></p>
      </div>
      <h5 class=" font-weight-light emp-title">
        Virginia Commonwealth University | Teacher Assistant
      </h5>
      <p class="emp-title">08/2018 - 05/2019</p>
      <p class="emp-desc">
        Inspect and test students' projects written in java against a provided
        spec sheet. Analyze and debug any issues that may cause their programs
        to crash and provide informative feedback.
      </p>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
